<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A landing page games" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png"/>
    <link rel="manifest" href="/assets/icon/site.webmanifest" />
    <link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="apple-mobile-web-app-title" content="Simple Javascript Games" />
    <meta name="application-name" content="Simple Javascript Games" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body id="login-form" class="d-flex">
    <form action="/home" method="post">
        <button class="btn">HOME</button>
    </form>
    <div class="container bg-dark m-auto px-5 py-5 rounded-3">
      <h1 class="text-white">WELCOME TO DASHBOARD</h1>
      <% users.forEach(i => { %>
        <div class="row">
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th class="text-white" scope="col">USERNAME : <br />
                            <p class="text-white"><%= i.dataValues.username %></p></p>
                        </th>
                        <th class="text-white" scope="col">PASSWORD : <br />
                            <p class="text-white"><%= i.dataValues.password %></p></p>
                        </th>
                         
                        <th class="text-white" scope="col">FULLNAME : <br />
                            <p class="text-white"><%= i.dataValues.fullname %></p></p>
                        </th>
                        <th class="text-white" scope="col">AGE : <br />
                            <p class="text-white"><%= i.dataValues.age %></p></p>
                        </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div>
        </div>
        <% }) %>
    </div>
  </body>
</html>
