<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="/css/game.css" />
</head>

<body>
    <header>
        <form action="/home" method="POST">
            <button class="btn">HOME</button>
        </form>

        <img src="./img/ch4/logo.png" alt="logo">
        <h1>ROCK PAPER SCISSOR</h1>
    </header>

    <section class="game-container">
        <!-- Player -->
        <div class="player">
            <h1>PLAYER</h1>

            <span class="outputSpan">
                <h4 id="outputSihuman"></h4>
            </span>

            <div id="player_batu" class="plyr-suit" name="padBatuHuman">
                <button id="Batu" name="btn_pick_human" class="on">
                    <img class="gambarBatu" src="./img/ch4/batu.png" alt="batu">
                </button>
            </div>
            <div id="player_gunting" class="plyr-suit" name="padGuntingHuman">
                <button id="Gunting" name="btn_pick_human" class="on">
                    <img class="gambarGunting" src="./img/ch4/gunting.png" alt="gunting">
                </button>
            </div>
            <div id="player_kertas" class="plyr-suit" name="padKertasHuman">
                <button id="Kertas" name="btn_pick_human" class="on">
                    <img class="gambarKertas" src="./img/ch4/kertas.png" alt="kertas">
                </button>
            </div>
        </div>

        <!-- Hasil -->
        <div class="hasil">
            <div class="result" id="vs">
                <h2>VS</h2>
            </div>

            <div class="result">
                <h3><span id="hasil1"></span></h3>
            </div>

            <div class="refresh" id="fresh">
                <img src="./img/ch4/refresh.png" alt="refresh">
            </div>
        </div>

        <!-- COM -->
        <div class="computer" id="computer">
            <h1>COM</h1>

            <span class="outputSpan">
                <h4 id="outputSirobot"></h4>
            </span>

            <div id="com_batu" class="com-suit">
                <div id="Robot">
                    <img src="./img/ch4/batu.png" alt="">
                </div>
            </div>
            <div id="com_gunting" class="com-suit">
                <div id="Robot">
                    <img src="./img/ch4/gunting.png" alt="">
                </div>
            </div>
            <div id="com_kertas" class="com-suit">
                <div id="Robot">
                    <img src="./img/ch4/kertas.png" alt="">
                </div>
            </div>
        </div>
    </section>
</body>

<script src="/js/game.js"></script>
