<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body class="background">
    <div >
        <h1 class="welcom">WELCOME TO HOMEPAGE</h1>
        <!-- <h2 class="welcom1">PLEASE PUSH BUTTON LOGIN</h2> -->
        <br>
        <h4 class="welcom1">Insert Your Age</h4>
        <div class="flex-container">
            <button type="" id="decre" class="btn1 btn-primary">-</button>
            <h1 id="age"> 17 </h1>
            <button type="" id="incre" class="btn2 btn-primary">+</button>
        </div>
        <div class="container">
            <form action="/thome" method="post">
                <button type="" class="btn btn-primary">LOGIN</button>
            </form>
        </div>
        <br> 
    </div>
</body>

<script src="/js/homepage.js"></script>