
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <div class="container">
      <h1>Login</h1>
        <form action="/signin" method="POST">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Enter username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter password"><br>

            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</body>