<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="/css/homemenu.css" />
</head>
<body>
<div class="nav">
    <div class="logo">
        <a href="#">logo</a>
    </div>
    <div class="navmid">
        <a href="#">home</a>
        <a href="#">work</a>
        <a href="#">contact</a>
        <a href="#">about us</a>
    </div>
    <div class="userarea">
        <a href="#">sign up</a>
        <a href="#">login</a>
    </div>
</div>

<div class="mainpage">
    <div class="maincontent">
        <h1>play traditional game</h1>
    </div>
    <div class="tagline">
        <p>Experience New Traditional Game Play</p>
    </div>
    <div class="btn">
        <form action="/togame" method="post">
            <button type="">PLAY NOW</button>
        </form>
    </div>
    <div></div>
    <div class="text-white">THE STORY</div>
</div>

<div id="container-fluid-games" class="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>The Games</h1>
                <h6>What's so special ?</h6>
            </div>
            <div class="col">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="./img/ch3/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/ch3/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/ch3/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <i id="caret-left" class="fas fa-caret-left fa-2x"></i>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <i id="caret-right" class="fas fa-caret-right fa-2x"></i>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>
<div id="container-fluid-features" class="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col"></div>
            <div id="col-features" class="col">
                <h1>Features</h1>
                <h6>What's so special ?</h6>
                <div class="tl-item">
                    <div class="tl-dot b-warning"></div>
                    <div>
                        <h4>Traditional Games</h4>
                        <p>If you miss your childhood, we provide many traditional games here</p>
                    </div>
                </div>
                <div class="tl-item2">
                    <div class="tl-dot2"></div>
                    <div class="tl-right">
                        <h4>Game Suit</h4>
                    </div>
                </div>
                <div class="tl-item2">
                    <div class="tl-dot2"></div>
                    <div class="tl-right">
                        <h4>TBD</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Halaman4-->
<div id="container-fluid-systemRequirements" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>System<br />Requirements</h1>
                <h6>Can my computer run this game ?</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">OS : <br />
                            <p>Windows 7 64-bit only (No OSX support at this time)</p>
                        </th>
                        <th scope="col">PROCESSOR : <br />
                            <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
                        </th>
                        </tr>
                        <tr>
                        <th scope="col">MEMORY : <br />
                            <p>4 GB RAM</p>
                        </th>
                        <th scope="col">STORAGE : <br />
                            <p>8 GB available space</p>
                        </th>
                        </tr>
                        <tr>
                        <th scope="col" colspan="2">GRAPHICS : <br />
                            <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                        </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Halaman5-->
<div id="topscore" class="container-fluid topScore">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-4">
                <h1>Top Scores</h1>
                <h6>This top scores from various games provided on this platform</h6>
                <a href="#">
                    <button type="button" class="btn btn-warning col-6 fw-bold text-lowercase">See More</button>
                </a>
            </div>

            <div class="scorekanan offset-1 col-7 ">
                <div class="cards">
                    <div class="cardEvan">
                        <div class="cardCon">
                            <div class="userRow row">
                                <div class="userpicPad col-3"><img class="userPic" src="./img/ch3/evan.png" alt="evan">
                                </div>
                                <div class="namecard col-7">
                                    <h3 class="text-warning">Evan Lahti</h3>
                                    <h6>PC Gamer</h6>
                                </div>
                                <div class="twitter col-2">
                                    <img src="./img/ch3/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="testiRow row">
                                <div class="testiPad col-12">
                                    <span class="testiTxt">“One of my gaming highlights of the year.”</h4>
                                    <h6 class="cardDate">June 18, 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cardJada">
                        <div class="cardCon ">
                            <div class="userRow row">
                                <div class="userpicPad col-3"><img class="userPic" src="./img/ch3/jada.png" alt="Jada">
                                </div>
                                <div class="namecard col-7">
                                    <h3 class="text-warning">Jada Griffin </h3>
                                    <h6>Nerdreactor</h6>
                                </div>
                                <div class="twitter col-2">
                                    <img src="./img/ch3/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="testiRow row">
                                <div class="testiPad col-12">
                                    <span class="testiTxt">“The next big thing in the world of streaming and survival games.”</h4>
                                    <h6 class="cardDate">July 10, 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cardAaron">
                        <div class="cardCon">
                            <div class="userRow row">
                                <div class="userpicPad col-3"><img class="userPic" src="./img/ch3/aaron.png" alt="Aaron">
                                </div>
                                <div class="namecard col-7">
                                    <h3 class="text-warning">Aaron Williams</h3>
                                    <h6> Uproxx</h6>
                                </div>
                                <div class="twitter col-2">
                                    <img src="./img/ch3/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="testiRow row">
                                <div class="testiPad col-12">
                                    <span class="testiTxt">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ is Ridiculous.”</h4>
                                    <h6 class=" cardDate">December 24, 2018</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Halaman6-->
<div id="container-fluid-newsletter" class="container-fluid-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="./img/ch3/skull.webp" class="img-fluid" alt="skull">
            </div>

            <div class="col-sm-8">                    
                <h1>Newsletter</br>Subscribe</h1>
                <h6>Want to stay in touch ?</h6>
                <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam</p>
                <form>
                    <div class="row align-items-center g-3">
                        <div class="col-auto">
                            <label class="visually-hidden" for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Input your email address">
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <button type="submit" class="btn btn-lg btn-warning col-12">Subscribe Now</button>
                            </a>    
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!--Footer-->
        <footer>
            <div class=" footer container border-bottom">
                <div class="row upper">
                    <div class="col-12"></div>
                    <dic class="col-2"></dic>
                    <div class="col-6">
                        <ul class="text-center">
                            <li><a id="font1" href="#utama">Main </a></li>
                            <li><a id="font1" href="#whspc">About </a></li>
                            <li><a id="font1" href="#fitur">Game Features </a></li>
                            <li><a id="font1" href="#sysreq">System Requirements </a></li>
                            <li><a id="font1" href="#topscore">Quotes </a></li>
                        </ul>
                    </div>
                    <div class="col-4 ">
                        <ul class="text-right">
                            <a href="#" class="me-4 text-reset">
                                <i id="facebook" class="fab fa-facebook fa-2x"></i>
                            </a>
                            <a href="#" class="me-4 text-reset">
                                <i id="twitter" class="fab fa-twitter fa-2x"></i>
                            </a>
                            <a href="#" class="me-4 text-reset">
                                <i id="youtube" class="fab fa-youtube fa-2x"></i>
                            </a>
                            <a href="#" class="me-4 text-reset">
                                <i id="twitch" class="fab fa-twitch fa-2x"></i>
                            </a>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row bottom">
                    <div class="btm-left col-8">
                        <p>© 2022 Binar Academy, Inc. All Rights Reserved</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <ul>
                            <li><a href="#">Privacy Policy |</a></li>
                            <li><a href="#">Terms of services |</a></li>
                            <li><a href="#">Code of conduct</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>  
</div>

</body>