
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <div class="container">
      <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username">Username</label><br>
            <input type="username" name="username" placeholder="Enter username"><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Enter password"><br>
            <button>Log In</button>
        </form>
    </div>
</body>