* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial;
}

body {
    background-color: burlywood;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    margin: 2vh 2vw;
    text-align: center;
}

.btn {
    background-color: rgba(255, 208, 0, 0.89);
    border-radius: 1px;
    color:  black;
}

header>i {
    color: black;
    cursor: pointer;
    margin-right: 1vw;
    margin-top: 5px;
}

header>img {
    margin-right: 2vw;
    margin-left: 1vw;
    height: 6.5vh;
    text-align: center;
}

header>h1 {
    font-size: 25px;
    letter-spacing: 2px;
}

/* Container */
.game-container {
    width: 70%;
    height: 80vh;
    margin: auto;
    margin-top:5vh;
    display: flex;
}

/* Player */
.player {
    flex: 1;
    margin: 10px 10px;
}

.player h1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 5px 0;
    width: auto;
}

.plyr-suit {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 50px 0;
    text-align: center; 
}

.plyr-suit>button {
    margin: auto;
    /* margin-bottom: 30px; */
    border: none;
    border-radius: 10%;
    cursor: pointer;
    width: 150px;
    padding: 20px 20px;
    background-color: transparent;
}

.plyr-suit>button>img {
    height: 12vh;
}

.plyr-suit>button :hover{
    transform: scale(1.2);
}
/* VS */
.hasil {
    width: 70%;
    height: 80vh;
    text-align: center;
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.result {
    margin: auto;
}

.result>h2 {
    color: red;
    font-size: 65px;
    letter-spacing: 2px;
    background-color: none;

}

.refresh{
    cursor: pointer;
}

.refresh img {
    height: 8vh;
    margin: auto;
}

/* COM */
.computer {
    flex: 1;
    margin: 10px 10px;
}
.computer h1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 5px 0;
}

.com-suit {
    list-style: none;
    margin: 50px 0;
    text-align: center;
}

.com-suit>div {
    margin: auto;
    margin-bottom: 30px;
    border: none;
    border-radius: 10%;
    width: 150px;
    padding: 20px 20px;
}

.com-suit>div>img {
    height: 12vh;
}