.background{
    background-image: url("../img/ch3/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcom{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.welcom1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.btn{
    margin-top: 20px;
    
    background-color: rgba(255, 208, 0, 0.89);
    border-radius: 2px;
    color:  black;
    padding: 15px 3vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.flex-container {
    display: flex;

    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}